<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
</head>
<body>
    <div class="intro">
        <p>Yalla Ngahani App</p>
        <div style="width: 100%; height:10px;"></div>
        <p>Contact Us For Help</p>
    </div>
    <div class="contact-cards">
        <div class="contact-info">
            <div class="card">
                <i class="card-icon far fa-envelope"></i>
                <p>hamzahi@hotmail.com</p>
            </div>

            <div class="card">
                <i class="card-icon fas fa-phone"></i>
                <p>+972 50 777-0313</p>
            </div>

            <div class="card">
                <i class="card-icon fas fa-map-marker-alt"></i>
                <p>North Street, Tamra, Israel</p>
            </div>
        </div>
    </div>
</body>
</html>
